.title {
  font-family: 'mamelon3.5';
  font-size: 1.3em;
  font-weight: bold;
  width: fit-content;
  position: relative;
  margin: 100px auto 40px;
}
.red-symbol {
  color: #ff7f7e;
}
.line {
  width: 40%;
  height: 1px;
  background-color: #888;
  margin: 0 auto 40px;
}
.honbun {
  position: absolute;
  left: 30%;
}
@media (max-width: 767px) {
  .line {
    width: 60%;
  }
  .honbun {
    left: 20%;
  }
}
@media (max-width: 499px) {
  .line {
    width: 70%;
  }
  .honbun {
    left: 15%;
  }
}
@media (max-width: 440px) {
  .line {
    width: 80%;
  }
  .honbun {
    left: 10%;
  }
}