---
import Layout from '../layouts/Layout.astro';
import Topbar from '../components/topbar.astro';

import IconImage from '../components/icon-image.astro';
import LabelTitle from '../components/label-title.astro';
import LinkPreviewBox from '../components/link-preview-box.astro';
import MusicContainer from '../components/music-container.astro';
import { Code } from 'astro-expressive-code/components';

import Footer from '../components/footer.astro'

const ogUrl = new URL(Astro.url.pathname, Astro.site).href;
---

<Layout pageTitle="About" ogUrl={ogUrl} ogDescription="自己紹介">
	<Topbar />
  <div class="container">

    <IconImage
      imageSrc="/images/icon_base.avif"
      hoverImageSrc="/images/icon_hover.avif"
      size={320}
    />

    <div class="content">
      <LabelTitle text = "よく使うアカウント名" headStep = {1} />
      <div class="category-text">
        こいらっく、ココネ
      </div>

      <LabelTitle text = "アカウント" headStep = {1} />
      <div class="category-text">
        <div class="links-box">
          <LinkPreviewBox
            title="GitHub"
            description="最近はTauriとかが好き"
            url="https://github.com/coiluck/"
          />
          <LinkPreviewBox
            title="Twitter"
            description="Xではありません"
            url="https://twitter.com/RabbitGbf"
          />
          <LinkPreviewBox
            title="chichi-pui"
            description="AIイラスト1"
            url="https://www.chichi-pui.com/users/coiluck/"
          />
          <LinkPreviewBox
            title="Aipictors"
            description="AIイラスト2"
            url="https://www.aipictors.com/users/6f92b753-d44f-dd7d-6c98-3bb495495278/"
          />
          <LinkPreviewBox
            title="pixiv"
            description="更新しない。ナゾノクサの絵ばかり"
            url="https://www.pixiv.net/users/63923759"
          />
          <LinkPreviewBox
            title="Truth Social"
            description="二日で飽きた"
            url="https://truthsocial.com/@coiluck"
          />
          <LinkPreviewBox
            title="Steam"
            description="遊ぶ"
            url="https://steamcommunity.com/id/coiluck/"
          />
          <LinkPreviewBox
            title="YouTube"
            description="限定公開で動画を共有する時に使う"
            url="https://www.youtube.com/@kozakurakokone"
          />
          <LinkPreviewBox
            title="Misskey"
            description="予備"
            url="https://misskey.io/@Asiraat/"
          />
          <LinkPreviewBox
            title="mixi2"
            description="予備"
            url="https://mixi.social/@coiluck"
          />
        </div>
      </div>

      <LabelTitle text = "Love" headStep = {1} />
      <div class="category-text">
        <LabelTitle text = "Novel" headStep = {2} />
        <div class="category-text">
          ハヤカワ文庫JAなどを好む。<br>
          &nbsp;&nbsp;・プロジェクトぴあの<br>
          &nbsp;&nbsp;・同志少女よ、敵を撃て<br>
          &nbsp;&nbsp;・ツインスターサイクロンランナウェイ<br>
          &nbsp;&nbsp;・虐殺器官<br>
          その他<br>
          &nbsp;&nbsp;・妹さえいればいい<br>
          &nbsp;&nbsp;・蝶と帝国<br>
        </div>
        <LabelTitle text = "Web Novel" headStep = {2} />
        <div class="category-text">
          小説家になろうをメインで読んでいる。稀にカクヨムやハーメルンには足を延ばす。<br>
        </div>
        <LabelTitle text = "Comic" headStep = {2} />
        <div class="category-text">
          マンガを読むことはあまりないけど。<br>
          &nbsp;&nbsp;・ゆゆ式<br>
          &nbsp;&nbsp;・ゆるゆり<br>
          &nbsp;&nbsp;・児玉まりあ文学集成<br>
        </div>
        <LabelTitle text = "Music" headStep = {2} />
        <div class="category-text">
          <MusicContainer />
        </div>

        <LabelTitle text = "Game" headStep = {2} />
        <div class="category-text">
          <LabelTitle text = "今プレイしているもの" headStep = {3} />
          <div class="category-text">
            特になし
          </div>
          <LabelTitle text = "過去" headStep = {3} />
          <div class="category-text">
          ・グランブルーファンタジー<br>
          ・アークナイツ<br>
          ・ヘブンバーンズレッド<br>
          ・Hoi4<br>
          ・Delta Force（PC版）<br>
            などをやっていた。
          </div>
        </div>

        <LabelTitle text = "Other" headStep = {2} />
        <div class="category-text">
          好きな色: <span style="color: #ff7f7e;">#FF7F7E</span><br>
          好きなこと: ゲームを作ること<br>
        </div>
      </div>

      <LabelTitle text = "感謝" headStep = {1} />
      <div class="category-text">
        <div class="category-text-table">
          <div class="category-text-table-item">
            <span><a href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a></span>
            <span>これで作っている</span>
          </div>
          <div class="category-text-table-item">
            <span>GitHub Pages</span>
            <span>ホストしてくれている</span>
          </div>
          <div class="category-text-table-item">
            <span><a href="https://github.com/3846masa/kauntah-svg" target="_blank" rel="noopener noreferrer">kauntah-svg</a></span>
            <span>かわいいアクセスカウンタ</span>
          </div>
          <div class="category-text-table-item">
            <span>Me</span>
            <span>つくったので</span>
          </div>
        </div>
      </div>

      <LabelTitle text = "サイトバナー" headStep = {1} />
      <div class="category-text">
          <img src="/images/banner.png" alt="サイトバナー" width="200" class="free">
          <p>持ち帰り・直リンクご自由にどうぞ。使用時は以下のように:</p>
          <Code code={`<a href="https://coiluck.moe/" target="_blank" rel="noopener noreferrer"><img src="https://coiluck.moe/images/banner.png" width="200" alt="革命学舎"></a>`} lang="html" />
          <p>相互リンクをしたい方はお問い合わせください</p>
      </div>
    </div>
    <Footer />
  </div>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100dvh;
      margin: 0 auto;
      padding-top: 7rem; /* top-bar の分 */
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .title {
      width: 70%;
      font-size: 1.3rem;
      font-weight: bold;
      margin: 0 auto;
    }
    .content {
      flex: 1;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
    .category-text {
      width: calc(100% - 2rem);
      margin-left: 2rem;
      font-size: 1rem;
    }
    .links-box {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 10px 20px;
      z-index: 2;
    }
    @media (max-width: 768px) {
      .title, .content {
        width: 80%;
      }
    }
    @media (max-width: 480px) {
      .title, .content {
        width: 90%;
      }
    }

    .category-text-table {
      display: grid;
      grid-template-columns: auto 1fr;
      row-gap: .5rem;
    }
    .category-text-table-item {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: subgrid;
    }

    .category-text-table-item span {
      border-bottom: 1px solid var(--text);
      padding: 0.4rem 0;
    }

    .category-text-table-item span:last-child {
      padding-left: clamp(1rem, 4vw, 3rem); /* 400 ~ 1200 */
    }
    .category-text-table-item span a {
      color: var(--link);
    }
  </style>
</Layout>