---
import Layout from '../layouts/Layout.astro';
import Topbar from '../components/topbar.astro';
import { Image } from 'astro:assets';
import createImage from '../assets/images/create.avif';

const ogUrl = new URL(Astro.url.pathname, Astro.site).href;
---

<Layout pageTitle="制作物" ogUrl={ogUrl} ogDescription="制作物の一覧">
  <Topbar />
  <div class="image-container">
    <Image src={createImage} alt="おにゃのこ" />
  </div>
  <div class="content">
    <div class="content-header">
      <h2>ひとつひとつでいいからね</h2>
      <p>One step at a time.</p>
      <div class="content-header-scroll-icon"></div>
    </div>
    <div class="projects-container">
      <div class="content-inner">
        <h2>制作物</h2>
        <p>つくったものなど</p>
      </div>
      <a class="content-boxes" href="https://coiluck.github.io/nongenerate-generater/" target="_blank" rel="noopener noreferrer">
        <h3>絶対に決める</h3>
        <p>何か決めたいとき用</p>
      </a>
      <a class="content-boxes" href="https://coiluck.github.io/anya/" target="_blank" rel="noopener noreferrer">
        <h3>アーニャのお仕事体験記</h3>
        <p>ギャグノベルゲーム</p>
      </a>
      <a class="content-boxes" href="https://coiluck.github.io/truth-edokko/" target="_blank" rel="noopener noreferrer">
        <h3>真の江戸っ子になれ！</h3>
        <p>お金を使い切るゲーム</p>
      </a>
      <a class="content-boxes" href="https://coiluck.github.io/CountryChain/" target="_blank" rel="noopener noreferrer">
        <h3>国境しりとり</h3>
        <p>接している国を交互に言い合うゲーム</p>
      </a>
      <a class="content-boxes" href="https://coiluck.github.io/SinkendenSonne/" target="_blank" rel="noopener noreferrer">
        <h3>陽の沈む場所</h3>
        <p>月面を開発するノベルゲーム</p>
      </a>
      <a class="content-boxes" href="https://coiluck.github.io/history-game/" target="_blank" rel="noopener noreferrer">
        <h3>歴史の扉</h3>
        <p>人物の年代を比べるゲーム</p>
      </a>
      <a class="content-boxes" href="https://coiluck.moe/ElementResonance/" target="_blank" rel="noopener noreferrer">
        <h3>自然共鳴</h3>
        <p>ローグライクカードゲーム</p>
      </a>
    </div>
  </div>
  <style>
    body {
      display: flow-root;
      height: 100vh;
      background-image: radial-gradient(#555 1px, transparent 1px);
      background-size: 20px 20px;
      font-family: sans-serif;
      overflow: hidden;
      z-index: -1;
    }
    .image-container {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 1;
    }
    .image-container img {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 100%;
      height: auto;
      max-height: 80%;
      object-fit: contain;
      object-position: bottom right; 
    }
    .content {
      position: relative;
      width: 70%;
      height: calc(100vh - 160px);
      margin: 80px auto;
      text-align: center;
      padding: 10px;
      border-radius: 10px;
      overflow-y: auto;
      scrollbar-width: none;
      scroll-snap-type: y mandatory;
      z-index: 2;
    }
    .content::-webkit-scrollbar {
      display: none;
    }
    /* かっこいいセリフ */
    .content-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100vh;
      width: 100%;
      transform: translateY(-120px);
      scroll-snap-align: start;
      scroll-snap-stop: always;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
    .content-header-scroll-icon {
      content: '';
      position: absolute;
      bottom: 50px;
      mask-image: url('/images/scroll.svg');
      mask-size: contain;
      mask-repeat: no-repeat;
      background-color: var(--text);
      width: 30px;
      height: 30px;
      cursor: pointer;
      animation: Blink 2.5s ease-in-out infinite;
    }
    @keyframes Blink {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    .content-header h2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 15px;
      font-weight: 200 !important;
    }
    .content-header p {
      margin: 0;
      font-weight: 100;
    }
    .content-header h2 span {
      display: inline-block;
    }
    /* 「制作物」のタイトル */
    .content-inner {
      display: block;
      margin: 60px auto;
      padding: 5px 15px;
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid var(--border);
    }
    /* プロジェクト一覧のコンテナ */
    .projects-container {
      min-height: calc(100vh - 200px);
      scroll-snap-align: start;
      scroll-snap-stop: always;
      padding-bottom: 100px;
    }
    .content-boxes {
      display: block;
      width: 70%;
      margin: 60px auto;
      padding: 5px 15px;
      color: inherit;
      background-color: rgba(255, 243, 241, 0.5);
      text-decoration: none;
      border: 1px solid var(--border);
      border-radius: 5px;
    }
    :root[data-theme="dark"] .content-boxes {
      background-color: rgba(39, 60, 120, 0.4);
    }
    .content-boxes h3 {
      color: var(--bg-gyaku);
    }
    .content-boxes p {
      color: var(--meta);
    }
    @media (max-width: 768px) {
      .content {
        width: 80%;
      }
      .content-boxes {
        width: 80%;
      }
    }
    @media (max-width: 480px) {
      .content {
        width: 90%;
      }
      .content-boxes {
        margin: 40px auto;
      }
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // ランダムなテキスト
      if (Math.random() < 0.5) {
        document.querySelector('.content-header h2').textContent = 'ひとつひとつでいいからね';
        document.querySelector('.content-header p').textContent = 'One step at a time.';
      } else {
        document.querySelector('.content-header h2').textContent = '限界なんて、ココにはないよ';
        document.querySelector('.content-header p').textContent = 'Here, limits fall silent.';
      }
      // scroll-iconのイベントリスナ
      document.querySelector('.content-header-scroll-icon').addEventListener('click', () => {
        document.querySelector('.content').scrollTo({
          top: document.querySelector('.projects-container').offsetTop,
          behavior: 'smooth'
        });
      })
    });
  </script>
</Layout>