---
import Topbar from '../components/topbar.astro';
import Layout from '../layouts/Layout.astro';

const ogUrl = new URL(Astro.url.pathname, Astro.site).href;
---

<Layout ogUrl={ogUrl} ogDescription="coiluckの個人サイト">
	<Topbar />
	<div class="container">
    <div class="circle">
      <div class="horizontal-line"></div>
      <div class="vertical-line"></div>
      <div class="text-above"><a href="./profile" class="custom-link">Profile</a></div>
      <div class="text-lower-left"><a href="./vault" class="custom-link">Vault</a></div>
      <div class="text-lower-right"><a href="./blog" class="custom-link">Blog</a></div>
    </div>
  </div>

	<style>
		body {
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	
	.container {
		position: relative;
	}
	
	.circle {
		width: 300px;
		height: 300px;
		border-radius: 50%;
		border: 2px solid var(--bg-gyaku);
		position: relative;
	}
	
	.horizontal-line {
		width: 100%;
		height: 2px;
		background-color: var(--bg-gyaku);
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	
	.vertical-line {
		width: 2px;
		height: 50%;
		background-color: var(--bg-gyaku);
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
	}
	
	.text-above,
	.text-lower-left,
	.text-lower-right {
		position: absolute;
		width: 100%;
		text-align: center;
	}
	
	.text-above {
		position: absolute;
		width: 100%;
		text-align: center;
		top: 25%;
	}
	
	.text-lower-left {
		position: absolute;
		width: 50%;
		text-align: center;
		top: 70%;
		left: 0;
		transform: translate(0, -50%);
	}
	
	.text-lower-right {
		position: absolute;
		width: 50%;
		text-align: center;
		top: 70%;
		right: 0;
		transform: translate(0, -50%);
	}
	.custom-link {
		color: var(--bg-gyaku);
		font-size: 1rem;
		text-decoration: none;
	}
	
	@media (max-width: 380px) {
		.circle {
			width: 250px;
			height: 250px;
		}
	}
	</style>
</Layout>