<div class="blog-line"></div>
<style>
  .blog-line {
    width: 70%;
    height: 1px;
    background-color: #888;
    margin: 40px auto 30px;
  }
  @media (max-width: 767px) {
    .blog-line {
      width: 90%;
    }
  }
</style>