---
// link-preview-box.astro
const { title, description, url } = Astro.props;
const domain = new URL(url).hostname;
---

<a href={url} class="link-preview-box" target="_blank" rel="noopener noreferrer">
  <div class="link-preview-content">
    <p class="link-title">{title}</p>
    <p class="link-description">{description}</p>
    <span class="link-domain">🔗{domain}</span>
  </div>
</a>

<style>
  .link-preview-box {
    display: block;
    border: 1px solid var(--bg-gyaku);
    text-decoration: none;
    color: inherit;
    background-color: rgba(255, 243, 241, 0.7);
    padding: 10px;
    margin: 5px 0;
  }
  :root[data-theme="dark"] .link-preview-box {
    background-color: rgba(39, 60, 120, 0.7);
  }

  .link-preview-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;
  }

  .link-title {
    color: var(--bg-gyaku);
    font-size: .9rem;
    font-weight: bold;
    margin: 0;
  }
  .link-description, .link-domain {
    margin: 0;
    color: var(--meta);
    font-size: 0.7rem;
  }
</style>
