<div class="vertical-line"></div>
<style>
  .vertical-line {
    width: 70%;
    height: 1px;
    background-color: #888;
    margin: 30px auto 30px;
  }
  @media (max-width: 767px) {
    .vertical-line {
      width: 80%;
    }
  }
  @media (max-width: 480px) {
    .vertical-line {
      width: 90%;
    }
  }
</style>